*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Cinzel', serif;
	font-family: 'Open Sans', sans-serif;
	background-image: radial-gradient(#52796f, #62877e);
}

.tipShare {
	display: flex;
	flex-direction: column;
	margin: 5vh 5vw;
	width: 100vw;
	max-width: 500px;
	background-color: #cad2c5;
	border-radius: 8px;
	box-shadow: 3px 3px 5px #2f3e46bf;
	overflow: auto;

	&__top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em 3em;
		height: 150px;
		background-color: #354f52;

		&-title {
			margin-bottom: 0.5em;
			font-size: 2.8rem;
			color: #cad2c5;
		}

		&-input {
			padding: 4px 7px;
			width: 100%;
			font-size: 1.8rem;
			border: none;
			border-radius: 5px;

			&::placeholder {
				color: #2f3e46;
			}

			&:focus {
				outline: 2px solid #84a98c;
			}
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.5em;
		font-size: 2rem;
		color: #2f3e46;

		&-label {
			margin-bottom: 5px;
			font-weight: bold;
		}

		&-input {
			margin-bottom: 15px;
			padding: 4px 7px;
			width: auto;
			font-size: 1.6rem;
			color: #2f3e46;
			border: none;
			border-radius: 5px;

			&::placeholder {
				color: #2f3e46;
			}

			&:focus {
				outline: 2px solid #52796f;
			}
		}

		&-error {
			margin-bottom: 15px;
			font-size: 1.6rem;
			color: red;
		}

		&-calc {
			margin-bottom: 15px;
			padding: 0.7em 1.4em;
			font-weight: bold;
			color: #2f3e46;
			background: none;
			border: 2px solid #52796f;
			border-radius: 5px;
			cursor: pointer;
			transition: border 0.3s;

			&:hover {
				border: 2px solid #2f3e46;
				background-color: #84a98c;
			}

			&:active {
				background-color: #354f52;
				color: #cad2c5;
				box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.579);
			}
		}

		&-reset {
            margin-right: 10px;
			margin-bottom: 15px;
			padding: 0.7em 1.4em;
			font-weight: bold;
			color: rgb(155, 25, 25);
			background: none;
			border: 2px solid rgba(255, 0, 0, 0.7);
			border-radius: 5px;
			cursor: pointer;
			transition: border 0.3s;

			&:hover {
				border: 2px solid rgb(174, 15, 15);
				background-color: rgba(255, 0, 0, 0.341);
			}

			&:active {
				background-color: rgb(108, 15, 15);
				color: rgba(255, 0, 0, 0.7);
				box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.579);
			}
		}
	}
}
