@use 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Cinzel', serif;
	font-family: 'Open Sans', sans-serif;
	background-image: radial-gradient(rgb(161, 211, 161), rgb(146, 202, 146));
}

.tipShare {
	display: flex;
	flex-direction: column;
	margin: 5vh 5vw;
	width: 100vw;
	background-color: colors.$white;
	border-radius: 8px;
	overflow: auto;

	&__top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em;
		height: 150px;
		background-color: colors.$main;

		&-title {
			margin-bottom: 0.5em;
			font-size: 2.8rem;
            color: colors.$main-text;
		}

		&-input {
			padding: 4px 7px;
			width: 100%;
			font-size: 1.8rem;
			border: none;
			border-radius: 5px;

			&:focus {
				outline: 2px solid rgb(5, 82, 3);
			}
		}
	}

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em;
        font-size: 1.6rem;
    }
}
